Package: com.fries.wctesthook
Name: WCTestHook
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: fries
Author: fries
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
